fastapi
uvicorn
python-dotenv
pydantic
requests
speechrecognition
pydub
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
chromadb
resemble
python-multipart
elevenlabs
gtts
pyttsx3